<div class="content">
  <div class="maincontent">
    <h1 class="header">Leave Us Feedback For Your Trip!</h1>

    <br>
    <br>

    <%= form_for @user_trip, class: 'form-horizontal' do |f| %>
    <%= f.label :review %>
    <%= f.text_area :review, class: 'form-control' %><br><br>
    <%= f.submit "Submit Review", class: "button" %>
    <% end %>

  </div>
</div>
