<div class="content">
  <div class="maincontent">
    <h1 class="header">Leave a Review For Your Trip!</h1>

    <br>
    <br>

    <%= form_for @user_trip do |f| %>
    <%= f.label :review %>
    <%= f.text_area :review %><br><br>
    <%= f.submit "Edit", class: "button" %>
    <% end %>

  </div>
</div>
