<h1>Sign Up Today!</h1>

<label>Payments Details:</label>
<%= text_field_tag "dummy", nil %><br><br>
<label>Additional Info:</label>
<%= text_area_tag "dummy", nil %>
<form method="post" action="/user_trips" class="button_to">
     <input value="Register Now!" type="submit" />
    </form>
