<div class="about">
  <h2 class="header">About This Project</h2>
    <br>
  <h4>&nbsp;&nbsp; This Rails-based app was built in July 2019 by students at Flatiron School in Seattle as part of the curriculum for the Full-Stack Software Development course.  Technologies utilized were Ruby on Rails, HTML/CSS, Sass, Bootstrap, & Postgres.</h4>
    <br>
  <h4>&nbsp;&nbsp; The NGO companies featured here are all real, their descriptions were taken directly from their actual websites, and the links provided go to those websites. However, the owners of this website do not claim any actual partnership with these organizations.</h4>
    <br>
  <h4>&nbsp;&nbsp; The 'projects' listed here are also all real as of the publishing of this site (but not necessarily all details).  However, the registration for these projects through this site is not real, legal, or binding in any way.  If you would like to sign up for a project, we encourage you to do so by using the links to the organization's actual website.</h4>
    <br>
  <h4>The developers for this website are:</h4>

  <h3>Claire Wilbert</h3>
  <a>https://github.com/cthomasw</a>
    <br>
  <h3>Jason Leach</h3>
  <a>https://github.com/jldivemaster</a>
    <br>
    <br>
  <h4>And the repo for the site can be found at: </h4>
  <a>https://github.com/jldivemaster/rails-project-mode-seattle-web-060319</a>
</div>
