<div class="homecontent">
  <div id="whoweare">
  <h2>Welcome to VolunTravel</h2> Our goal is simple. <br><br>
  We believe that travel is better when you build meaningful relationships. We connect individual travelers with organizations in need of volunteers. Through those connections, we build community.<br><br>
  We hope you'll join us and our partner organizations.
  </div>

  <div id="allprojects"><h2>See all current projects to start your journey. </h2>
  <%= link_to "Go".html_safe, projects_path, class: "button" %></div>

  <div id="browsecategory"><h2>Browse Project Categories </h2>
  <%= link_to "Go".html_safe, categories_path, class: "button" %></div>

  <div id="browselocation"><h2>Browse Project Locations </h2>
  <%= link_to "Go".html_safe, locations_path, class: "button" %></div>

  <div class="dashboard">
    <div id="dash">
    <h4>Coming Soon!</h4>
    Most popular trip! <br>
    Most recent review! <br>
    </div>
  </div>
</div>
