<div class="homecontent">
  <div id="whoweare">
  <h2>Welcome to VolunTravel.</h2> Our goal is simple. <br><br>
  We believe that travel is better when you build meaningful relationships. We connect individual travelers with organizations in need of volunteers. Through those connections, we build community.<br><br>
  We hope you'll join us.
  </div>

  <div id="allprojects"><h2>See all current projects to start your journey. </h2>
  <%= link_to "Go".html_safe, projects_path, class: "button" %></div>

  <%# <div id="searchprojects">
    <h3>Prompt to search by:</h3>
   
    <h3>or</h3>
  
  </div> %>
</div>
