<div class="content">
  <h1 class="header">All Partner Projects</h1>
  <div class="maincontent">

    <div class="list">
      <ul>
        <% @projects.each do |project| %>
        <li>
        <%= link_to project.name, project_path(project) %>
        </li><br>
        <% end %>
      </ul>
    </div>
  </div>
</div>
