/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 html, body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #D68D42;
  color: #2D3659;
 }

 #topbarmenu {
  background: #4C6E52;
  font-size: 40px;
  padding-left: 20px;
  font-weight: bold;
 }

.topbar {
  background: #4C6E52;
  font-size: 20px;
  font-weight: bold;
}

.bottombar {
  background: #4C6E52;
  font-size: 15px;
  text-align: center;
  font-style: italic;
}

.content {
  padding-left: 20px;
  padding-right: 20px;
}

.list ul {
  list-style: none;
}

.visitsite {

}

.returnhome {
  text-align: right;
  padding-right: 40px;
  padding-bottom: 15px;
}

