.homecontent {
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 4;
  padding-left: 20px;
  padding-right: 20px;
}

#whoweare {
  grid-column: 2/6;
  padding-top: 60px;
  text-align: left;
  font-size: 20px;
  padding-bottom: 60px;
}

#allprojects {
  grid-column: 8/12;
  grid-row: 1;
  text-align: center;
  padding-top: 60px;
}

/* #searchprojects {
  grid-column: 10/12;
  grid-row: 2;
  text-align: center;
  padding-top: 20px; 
} */