<div class="content">
  <div class="maincontent">
    <h1>Partner Organizations</h1>

    <div class="list">
      <ul>
      <% @organizations.each do |org| %>
      <li>
      <%= link_to org.name, organization_path(org) %>
      </li><br>
      <% end %>
      </ul>
    </div>
  </div>
</div>
