

<div class="content">
  <h1>Partner Organizations</h1>

  <div class="list">
    <ul>
    <% @organizations.each do |org| %>
    <li>
    <%= link_to org.name, organization_path(org) %>
    </li><br>
    <% end %>
    </ul>
  </div>

  <br>
  <br>

  <div class="returnhome">
    <%= render '/layouts/home_link' %>
  </div>
</div>

