<div class="topbar">VolunTravel |
See the world.
Do good.</div>
<div class="content">
  <h1>Volunteer Categories</h1>
  <%@categories.each do |category| %>
  <%=link_to category.name, category%><br>
  <%end%>

  

<div class="bottombar">
Travel. Explore. Learn. Do good.
</div>
