

<div class="content">
  <div class="maincontent">
    <h1 class="header"><%= @category.name %></h1>
    <br>
    <%= @category.description %><br>
    <br>

    <div class="list">
      <h3 class="sub-header">View Projects in this Category</h3>
      <ul>
      <% @category.projects.uniq.each do |project| %>
      <li>
      <%= link_to project.name, project_path(project) %>
      </li>
      <% end %>
      </ul>
    </div>

    <div class="list">
      <h3 class="sub-header">Or Select by Location</h3>
      <ul>
      <% @category.locations.uniq.each do |location| %>
      <li>
      <%= link_to location.name, location_path(location) %>
      </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
