<h1 class="header">Project Locations</h1>
<div class="content">


    <div class="grid">
      <div class="list">
        <ul>
        <% @locations.each do |l| %>
        <li>
        <%= link_to l.name, location_path(l) %>
        </li><br>
        <% end %>
        </ul>
      </div>
      <div class="mapbox">
      <%= image_tag ( "amCharts.jpg") %>
      </div>
    </div>

</div>
