
<div class="content">
  <div class="maincontent">
    <h1 class="header">Project Locations</h1>
    <div class="list">
      <ul>
      <% @locations.each do |l| %>
      <li>
      <%= link_to l.name, location_path(l) %>
      </li><br>
      <% end %>
      </ul>
    </div>
  </div>
</div>
