<h1 class="header">Project Locations</h1>
<h4 class="sub-header desc">Our partner programs have teams across the world that want volunteers just like you.  Check out a region below to see what projects are happening in that part of the world.</h4>
<div class="content">

    <div class="grid-loc">
      <div class="list map-list">
        <ul>
        <% @locations.each do |l| %>
        <li>
        <%= link_to l.name, location_path(l) %>
        </li><br>
        <% end %>
        </ul>
      </div>
      <div class="mapbox">
      <%= image_tag ( "amCharts.jpg") %>
      </div>
    </div>

</div>
