<div class="content">
    <h1 class="header"><%= @location.name %></h1>
    <h5 class="desc"><%= @location.description %></h5>

    <div class="maincontent grid2">
      <div class="imagebox grid-col1"><%= image_tag ("#{@location.img_url}") %></div>

      <div class="list grid-col2">
        <h3 class="sub-header">Projects In This Region</h3>
        <ul>
        <% @location.projects.each do |project| %>
        <li>
          <p>project.name</p>
        <%= link_to project.name, project_path(project) %>
        </li>
        <% end %>
        </ul>
      </div>
    </div>
</div>
