<div class="content">
  <div class="maincontent">
    <h1 class="header"><%= @location.name %></h1>
    <%= image_tag ( "#{@location.img_url}") %>
    <%= @location.description %>
    <br>

    <div class="list">
      <h3 class="sub-header">Projects at this Location:</h3>
      <ul>
      <% @location.projects.each do |project| %>
      <li>
      <%= link_to project.name, project_path(project) %>
      </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
